app/app-2.jade
extends _layoutApp
block stylehead
  link(rel="stylesheet", href="assets/css/app.css")
block content
  section.ask-panel
    .container
      .row
        .col-md-12
          .headline
            h1 Personal
            h2.tagline Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolor esse accusantium, sit hic, facere ratione accusamus, odio doloribus officiis non illo iure, dolores aut?
    .container
      .row
        .col-md-8
          .boxed
            form.infobox.clearfix
              .form-group

                label What is your name?
                .row
                  .col-md-4
                    input.form-control.input-lg(type='text', autofocus="autofocus", required="required", placeholder="First")
                  .col-md-4
                    input.form-control.input-lg(type='text', autofocus="autofocus", placeholder="Middle (optional)")
                  .col-md-4
                    input.form-control.input-lg(type='text', autofocus="autofocus", required="required", placeholder="Last")

              .form-group
                label What's your active mobile number?
                  span.text-muted &nbsp; e.g. "(0915) 234-3243"
                input#phone.form-control.input-lg(type="text", placeholder="(0915) 999-9999")

              .form-group
                label When's your birthday?
                  span.text-muted &nbsp; e.g. "12/25/1980"
                input#date.form-control.input-lg(type="text", placeholder="MM/DD/YYYY")

              h4.form-break CREATE ACCOUNT
              .form-group
                label What's your active email?
                input.form-control.input-lg(type="email", placeholder="juan.dc@yahoo.com")

              .form-group
                label Create password
                input.form-control.input-lg(type="password")

              .form-group
                label Security Question: Last school you attended?
                #university-list
                  input.typeahead.form-control.input-lg(type="text")

              .form-group.pull-right
                button.btn.btn-danger.btn-lg.btn-embossed(type='submit') Continue Application &nbsp;
                  i.fa.fa-angle-double-right



        .col-md-4
          .list-group.steps
            a.list-group-item.done(href='app-1.html')
              i.fa.fa-check
              | Loan
            a.list-group-item.active(href='app-2.html')
              i.fa.fa-dot-circle-o
              | Personal
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Financial
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Documents
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Matching Lenders

public/app-2.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Get Money Fast | Personal, Car, Cash, Seaman, OFW Loans and more</title>
    <meta content="SSS Salary loan, personal loan, car loan, financial management, loan, cash loan, OFW loan" name="keywords">
    <meta content="Get the best offer from up to 5 Lenders for Mortgage, Seaman, OFW, Car, Salary, Personal, Business, Cash loans. Lending in Manila, Cebu... all the Philippines." name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="index, follow" name="robots">
    <meta content="1 days" name="revisit-after">
    <meta content="2015 Copyright www.loansolutions.ph" name="copyright">
    <meta content="English" name="language">
    <meta content="General" name="Rating">
    <meta content="never" name="expires">
    <meta content="Author:loansolutions.ph" name="author">
    <meta content="Email: info@loansolutions.ph " name="email">
    <meta content="global" name="distribution">
    <meta name="geo.region" content="PH">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/drunken/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/drunken/css/drunken-parrot.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script type="text/javascript">
var _vwo_code = (function()
{
  var b = 10460,
    a = 2000,
    g = 2500,
    h = false,
    c = false,
    e = document;
  return {
    use_existing_jquery: function()
    {
      return h
    },
    library_tolerance: function()
    {
      return g
    },
    finish: function()
    {
      if (!c)
      {
        c = true;
        var d = e.getElementById("_vis_opt_path_hides");
        if (d)
        {
          d.parentNode.removeChild(d)
        }
      }
    },
    finished: function()
    {
      return c
    },
    load: function(f)
    {
      var d = e.createElement("script");
      d.src = f;
      d.type = "text/javascript";
      d.innerText;
      d.onerror = function()
      {
        _vwo_code.finish()
      };
      e.getElementsByTagName("head")[0].appendChild(d)
    },
    init: function()
    {
      settings_timer = setTimeout("_vwo_code.finish()", a);
      this.load("//dev.visualwebsiteoptimizer.com/j.php?a=" + b + "&u=" + encodeURIComponent(e.URL) + "&r=" + Math.random());
      var f = e.createElement("style"),
        d = "body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}",
        i = e.getElementsByTagName("head")[0];
      f.setAttribute("id", "_vis_opt_path_hides");
      f.setAttribute("type", "text/css");
      if (f.styleSheet)
      {
        f.styleSheet.cssText = d
      }
      else
      {
        f.appendChild(e.createTextNode(d))
      }
      i.appendChild(f);
      return settings_timer
    }
  }
}());
_vwo_settings_timer = _vwo_code.init();
    </script>
  </head>
  <body>
    <div id="fb-root">
      <script>
(function(e, a, f)
{
  var c, b = e.getElementsByTagName(a)[0];
  if (e.getElementById(f))
  {
    return
  }
  c = e.createElement(a);
  c.id = f;
  c.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  b.parentNode.insertBefore(c, b)
}(document, "script", "facebook-jssdk"));
      </script>
    </div>
    <nav class="navbar navbar-loansolutions">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">
            <img src="assets/images/loansolutions-logo.png" alt="">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="navbar-form navbar-right">
            <button type="button" class="btn btn-default navbar-btn">Login to an existing loan</button>
          </div>
        </div>
      </div>
    </nav>
    <section class="ask-panel">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="headline">
              <h1>Personal</h1>
              <h2 class="tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolor esse accusantium, sit hic, facere ratione accusamus, odio doloribus officiis non illo iure, dolores aut?</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="boxed">
              <form class="infobox clearfix">
                <div class="form-group">
                  <label>What is your name?</label>
                  <div class="row">
                    <div class="col-md-4">
                      <input type="text" autofocus="autofocus" required="required" placeholder="First" class="form-control input-lg">
                    </div>
                    <div class="col-md-4">
                      <input type="text" autofocus="autofocus" placeholder="Middle (optional)" class="form-control input-lg">
                    </div>
                    <div class="col-md-4">
                      <input type="text" autofocus="autofocus" required="required" placeholder="Last" class="form-control input-lg">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>What's your active mobile number?<span class="text-muted">&nbsp; e.g. "(0915) 234-3243"</span>
                  </label>
                  <input id="phone" type="text" placeholder="(0915) 999-9999" class="form-control input-lg">
                </div>
                <div class="form-group">
                  <label>When's your birthday?<span class="text-muted">&nbsp; e.g. "12/25/1980"</span>
                  </label>
                  <input id="date" type="text" placeholder="MM/DD/YYYY" class="form-control input-lg">
                </div>
                <h4 class="form-break">CREATE ACCOUNT</h4>
                <div class="form-group">
                  <label>What's your active email?</label>
                  <input type="email" placeholder="juan.dc@yahoo.com" class="form-control input-lg">
                </div>
                <div class="form-group">
                  <label>Create password</label>
                  <input type="password" class="form-control input-lg">
                </div>
                <div class="form-group">
                  <label>Security Question: Last school you attended?</label>
                  <div id="university-list">
                    <input type="text" class="typeahead form-control input-lg">
                  </div>
                </div>
                <div class="form-group pull-right">
                  <button type="submit" class="btn btn-danger btn-lg btn-embossed">Continue Application &nbsp;
                    <i class="fa fa-angle-double-right"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-4">
            <div class="list-group steps">
              <a href="app-1.html" class="list-group-item done">
                <i class="fa fa-check"></i>Loan</a>
              <a href="app-2.html" class="list-group-item active">
                <i class="fa fa-dot-circle-o"></i>Personal</a>
              <a href="app-1.html" class="list-group-item disabled">
                <i class="fa fa-circle-o"></i>Financial</a>
              <a href="app-1.html" class="list-group-item disabled">
                <i class="fa fa-circle-o"></i>Documents</a>
              <a href="app-1.html" class="list-group-item disabled">
                <i class="fa fa-circle-o"></i>Matching Lenders</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container narrow">
        <div class="row">
          <div class="col-md-3">
            <a href="http://www.loansolutions.ph/v2">
              <img src="assets/images/loansolutions-logo-alt.png" alt="" class="img-responsive">
            </a>
          </div>
          <div class="col-md-4">
            <address>
              <h5>HEAD OFFICE</h5>8th Flr, Crown 7 Building, Juan Luna Ave.,
              <br>Mabolo Cebu City, 6000
              <br>(+6332) 512-4163 / (+6332) 266-6070</address>
          </div>
          <div class="col-md-5">
            <address>
              <h5>MANILA OFFICE</h5>24th Floor Pacific Star Bldg., Sen Gil Puyat cor Makati Ave.,
              <br>Makati City, 1227
              <br>(+632) 491-7337</address>
          </div>
        </div>
        <div class="footer-thin">
          <div class="row">
            <div class="col-md-8">
              <ul class="footer-links list-unstlyed list-inline">
                <li><a href="http://www.loansolutions.ph/"> Home</a>
                </li>
                <li><a href="http://www.loansolutions.ph/about"> About Us</a>
                </li>
                <li><a href="http://www.loansolutions.ph/faq"> Faq</a>
                </li>
                <li><a href="http://www.loansolutions.ph/contact">Contact Us</a>
                </li>
                <li><a href="http://www.loansolutions.ph/terms-and-conditions"> Terms and Conditions</a>
                </li>
                <li><a href="http://www.loansolutions.ph/privacy-policy"> Privacy Policy</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4"><a href="http://www.loansolutions.ph/credit-card-form" class="btn btn-default btn-block">Apply for a Credit Card &nbsp;<i class="fa fa-angle-double-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script type="application/javascript" src="assets/js/jquery.min.js"></script>
    <script type="application/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="assets/drunken/js/radio.js"></script>
    <script type="application/javascript" src="assets/js/jquery.inputmask.min.js"></script>
    <script type="application/javascript" src="assets/js/autoNumeric.js"></script>
    <script type="application/javascript" src="assets/js/typeahead.jquery.min.js"></script>
    <script type="application/javascript" src="assets/js/employer-list.js"></script>
    <script type="application/javascript" src="assets/js/universities.js"></script>
    <script type="application/javascript" src="assets/js/the-basics.js"></script>
    <script type="application/javascript" src="assets/js/script.js"></script>
    <script type="text/javascript">
(function()
{
  var done = false;
  var script = document.createElement('script');
  script.async = true;
  script.type = 'text/javascript';
  script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
  document.getElementsByTagName('HEAD').item(0).appendChild(script);
  script.onreadystatechange = script.onload = function(e)
  {
    if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete'))
    {
      var w = new PCWidget(
      {
        c: '204ec076-901f-4f73-befe-e3153a2c356b',
        f: true
      });
      done = true;
    }
  };
})();
    </script>
    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-43021231-1']);
_gaq.push(['_trackPageview']);
(function()
{
  var ga = document.createElement('script');
  ga.type = 'text/javascript';
  ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ga, s);
})();
    </script>
  </body>
</html>
