credit-card.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>Get Money Fast | Personal, Car, Cash, Seaman, OFW Loans and more</title><meta content="SSS Salary loan, personal loan, car loan, financial management, loan, cash loan, OFW loan" name="keywords"><meta content="Get the best offer from up to 5 Lenders for Mortgage, Seaman, OFW, Car, Salary, Personal, Business, Cash loans. Lending in Manila, Cebu... all the Philippines." name="description"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta content="index, follow" name="robots"><meta content="1 days" name="revisit-after"><meta content="2015 Copyright www.loansolutions.ph" name="copyright"><meta content="English" name="language"><meta content="General" name="Rating"><meta content="never" name="expires"><meta content="Author:loansolutions.ph" name="author"><meta content="Email: info@loansolutions.ph " name="email"><meta content="global" name="distribution"><meta name="geo.region" content="PH"><link rel="shortcut icon" href="assets/images/favicon.png"><link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"><link rel="stylesheet" href="assets/drunken/css/font-awesome.min.css"><link rel="stylesheet" href="assets/drunken/css/drunken-parrot.css"><link rel="stylesheet" href="assets/css/style.css"><link rel="stylesheet" href="assets/css/squeeze.css"><script type="text/javascript">var _vwo_code=(function(){var b=10460,a=2000,g=2500,h=false,c=false,e=document;return{use_existing_jquery:function(){return h},library_tolerance:function(){return g},finish:function(){if(!c){c=true;var d=e.getElementById("_vis_opt_path_hides");if(d){d.parentNode.removeChild(d)}}},finished:function(){return c},load:function(f){var d=e.createElement("script");d.src=f;d.type="text/javascript";d.innerText;d.onerror=function(){_vwo_code.finish()};e.getElementsByTagName("head")[0].appendChild(d)},init:function(){settings_timer=setTimeout("_vwo_code.finish()",a);this.load("//dev.visualwebsiteoptimizer.com/j.php?a="+b+"&u="+encodeURIComponent(e.URL)+"&r="+Math.random());var f=e.createElement("style"),d="body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}",i=e.getElementsByTagName("head")[0];f.setAttribute("id","_vis_opt_path_hides");f.setAttribute("type","text/css");if(f.styleSheet){f.styleSheet.cssText=d}else{f.appendChild(e.createTextNode(d))}i.appendChild(f);return settings_timer}}}());_vwo_settings_timer=_vwo_code.init();</script></head><body><div id="fb-root"><script>(function(e,a,f){var c,b=e.getElementsByTagName(a)[0];if(e.getElementById(f)){return}c=e.createElement(a);c.id=f;c.src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";b.parentNode.insertBefore(c,b)}(document,"script","facebook-jssdk"));</script></div><div class="banner"><h3>GET APPROVED QUICKLY FOR THE RIGHT CREDIT CARD &nbsp;</h3><a href="http://www.loansolutions.ph/credit-card-form" class="btn btn-sm btn-danger btn-embossed">Apply Now &nbsp;<i class="fa fa-angle-double-right"></i></a></div><a name="apply-loan"></a><div class="jumbotron squeeze"><div class="container-fluid"><div class="row"><nav role="navigation" class="navbar"><div class="navbar-header"><a href="http://www.loansolutions.ph/" class="navbar-brand"><img src="assets/images/loansolutions-logo-v3.png" alt="LoanSolutions PH"></a></div><div id="navbar" class="collapse navbar-collapse"><div class="navbar-text navbar-right"><div data-href="https://www.facebook.com/LoanSolutionsPH" data-layout="standard" data-action="like" data-show-faces="false" data-share="false" data-colorscheme="dark" class="fb-like"></div></div></div></nav></div></div><div class="container"><div class="row"><div class="headline"><h1>Get approved quickly for the right credit card</h1><h2 class="tagline">Be it free miles, gas, or shopping rewards, get the best credit card that  suits your lifestyle here.</h2><a href="http://www.loansolutions.ph/credit-card-form" class="btn btn-danger btn-lg btn-embossed">Apply Now &nbsp;<i class="fa fa-angle-double-right"></i></a></div></div></div></div><a id="showHere"></a><section id="partners"><div class="container-fluid"><div class="row"><div class="col-md-12"><img src="assets/images/squeeze/cc-partners.jpg" alt="" class="img-center img-responsive"></div></div></div></section><section id="testimonials"><div class="container narrow"><div class="row"><h2 class="title">What type of credit card are you looking for?</h2><div class="col-md-3 col-sm-6"><div class="tile thumbs"><a href="http://www.loansolutions.ph/credit-card-form"><img src="assets/images/squeeze/low-interest.png"><h3>Low Interest</h3></a></div></div><div class="col-md-3 col-sm-6"><div class="tile thumbs"><a href="http://www.loansolutions.ph/credit-card-form"><img src="assets/images/squeeze/low-balance.png"><h3>Low Balance Transfer</h3></a></div></div><div class="col-md-3 col-sm-6"><div class="tile thumbs"><a href="http://www.loansolutions.ph/credit-card-form"><img src="assets/images/squeeze/cashback.png"><h3>Cashback</h3></a></div></div><div class="col-md-3 col-sm-6"><div class="tile thumbs"><a href="http://www.loansolutions.ph/credit-card-form"><img src="assets/images/squeeze/rewards.png"><h3>Rewards</h3></a></div></div></div><div style="margin-top:30px;" class="row"><div class="col-md-3 col-sm-6"><div class="tile thumbs"><a href="http://www.loansolutions.ph/credit-card-form"><img src="assets/images/squeeze/airmiles.png"><h3>Airmiles</h3></a></div></div><div class="col-md-3 col-sm-6"><div class="tile thumbs"><a href="http://www.loansolutions.ph/credit-card-form"><img src="assets/images/squeeze/petrol.png"><h3>Petrol</h3></a></div></div><div class="col-md-3 col-sm-6"><div class="tile thumbs"><a href="http://www.loansolutions.ph/credit-card-form"><img src="assets/images/squeeze/shopping.png"><h3>Shopping</h3></a></div></div><div class="col-md-3 col-sm-6"><div class="tile thumbs"><a href="http://www.loansolutions.ph/credit-card-form"><img src="assets/images/squeeze/premium.png"><h3>Premium</h3></a></div></div></div></div></section><section id="faq"><div class="container narrow"><div class="row"><h2 class="title">Credit Card Application FAQ</h2><div class="col-md-12"><dl><dt>Qualified ba ako for a credit card?</dt><dd>Ang mga sumusunod ang mga batayan kung ikaw ay qualified sa credit card:<ul><li>Filipino Citizen</li><li>Principal Cardholder must between 21-65 years old</li><li>Employed as a Regular Employee for at least 2 years</li><li>OR Self-Employed Profitably for at least 3 years</li><li>Gross Annual Income must be at least P140,000</li><li>Must have a landline number</li></ul></dd><dt>Ano ang mga requirements para mag-apply?</dt><dd><ul><li>Government-Issued Photo-Bearing ID</li><li>For Self-Employed: 3 years AFS or ITR AND SEC/DTI Registration</li><li>For Employed: Signed COE or ITR or 3mo Payslip with Company ID (front/back)</li></ul></dd></dl></div></div></div></section><footer><div class="container narrow"><div class="row"><div class="col-md-3"><a href="http://www.loansolutions.ph/v2"><img src="assets/images/loansolutions-logo-alt.png" alt="" class="img-responsive"></a></div><div class="col-md-4"><address><h5>HEAD OFFICE</h5>8th Flr, Crown 7 Building, Juan Luna Ave.,<br>Mabolo Cebu City, 6000<br>(+6332) 512-4163 / (+6332) 266-6070</address></div><div class="col-md-5"><address><h5>MANILA OFFICE</h5>24th Floor Pacific Star Bldg., Sen Gil Puyat cor Makati Ave.,<br>Makati City, 1227<br>(+632) 491-7337</address></div></div><div class="footer-thin"><div class="row"><div class="col-md-8"><ul class="footer-links list-unstlyed list-inline"><li><a href="http://www.loansolutions.ph/"> Home</a></li><li><a href="http://www.loansolutions.ph/about"> About Us</a></li><li><a href="http://www.loansolutions.ph/faq"> Faq</a></li><li><a href="http://www.loansolutions.ph/contact">Contact Us</a></li><li><a href="http://www.loansolutions.ph/terms-and-conditions"> Terms and Conditions</a></li><li><a href="http://www.loansolutions.ph/privacy-policy"> Privacy Policy</a></li></ul></div><div class="col-md-4"><a href="http://www.loansolutions.ph/credit-card-form" class="btn btn-default btn-block">Apply for a Credit Card &nbsp;<i class="fa fa-angle-double-right"></i></a></div></div></div></div></footer><script type="application/javascript" src="assets/js/jquery.min.js"></script><script type="application/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script><script type="application/javascript" src="assets/js/headhesive.min.js"></script><script type="application/javascript" src="assets/js/script.js"></script><script type="text/javascript">(function () {  var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript';  script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: '204ec076-901f-4f73-befe-e3153a2c356b', f: true }); done = true; } };  })();</script><script type="text/javascript">var options = {
  offset: '#showHere',
  classes: {
    clone:   'banner--clone',
    stick:   'banner--stick',
    unstick: 'banner--unstick'
}
};
var banner = new Headhesive('.banner', options);
</script><script type="text/javascript">var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-43021231-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script></body></html>

app/credit-card.jade
extends _layout
block stylehead
  link(rel="stylesheet", href="assets/css/squeeze.css")
block content
  .banner
    h3 GET APPROVED QUICKLY FOR THE RIGHT CREDIT CARD &nbsp;
    a.btn.btn-sm.btn-danger.btn-embossed(href="http://www.loansolutions.ph/credit-card-form") Apply Now &nbsp;
      i.fa.fa-angle-double-right
  a(name='apply-loan')
  .jumbotron.squeeze
    .container-fluid
      .row
        nav.navbar(role='navigation')
          .navbar-header
            a.navbar-brand(href='http://www.loansolutions.ph/')
              img(src='assets/images/loansolutions-logo-v3.png', alt='LoanSolutions PH')
          #navbar.collapse.navbar-collapse
            .navbar-text.navbar-right
              .fb-like(data-href='https://www.facebook.com/LoanSolutionsPH', data-layout='standard', data-action='like', data-show-faces='false', data-share='false', data-colorscheme='dark')
    .container
      .row
        .headline
          h1 Get approved quickly for the right credit card
          h2.tagline Be it free miles, gas, or shopping rewards, get the best credit card that  suits your lifestyle here.
          a.btn.btn-danger.btn-lg.btn-embossed(href="http://www.loansolutions.ph/credit-card-form") Apply Now &nbsp;
            i.fa.fa-angle-double-right
  a#showHere
  section#partners
    .container-fluid
      .row
        .col-md-12
          img.img-center.img-responsive(src="assets/images/squeeze/cc-partners.jpg", alt="")
  section#testimonials
    .container.narrow
      .row
        h2.title What type of credit card are you looking for?
        .col-md-3.col-sm-6
          +tile('Low Interest','low-interest.png','http://www.loansolutions.ph/credit-card-form')
        .col-md-3.col-sm-6
          +tile('Low Balance Transfer','low-balance.png','http://www.loansolutions.ph/credit-card-form')
        .col-md-3.col-sm-6
          +tile('Cashback','cashback.png','http://www.loansolutions.ph/credit-card-form')
        .col-md-3.col-sm-6
          +tile('Rewards','rewards.png','http://www.loansolutions.ph/credit-card-form')
      .row(style="margin-top:30px;")
        .col-md-3.col-sm-6
          +tile('Airmiles','airmiles.png','http://www.loansolutions.ph/credit-card-form')
        .col-md-3.col-sm-6
          +tile('Petrol','petrol.png','http://www.loansolutions.ph/credit-card-form')
        .col-md-3.col-sm-6
          +tile('Shopping','shopping.png','http://www.loansolutions.ph/credit-card-form')
        .col-md-3.col-sm-6
          +tile('Premium','premium.png','http://www.loansolutions.ph/credit-card-form')


  section#faq
    .container.narrow
      .row
        h2.title Credit Card Application FAQ
        .col-md-12
          dl
            dt Qualified ba ako for a credit card?
            dd Ang mga sumusunod ang mga batayan kung ikaw ay qualified sa credit card:
              ul
                li Filipino Citizen
                li Principal Cardholder must between 21-65 years old
                li Employed as a Regular Employee for at least 2 years
                li OR Self-Employed Profitably for at least 3 years
                li Gross Annual Income must be at least P140,000
                li Must have a landline number

            dt Ano ang mga requirements para mag-apply?
            dd
              ul
                li Government-Issued Photo-Bearing ID
                li For Self-Employed: 3 years AFS or ITR AND SEC/DTI Registration
                li For Employed: Signed COE or ITR or 3mo Payslip with Company ID (front/back)
block jsfooter
  script(type="application/javascript", src="assets/js/headhesive.min.js")
