app/index.jade
extends _layout
block content
  a(name='apply-loan')
  .hero.jumbotron
    .container-fluid
      .row
        nav.navbar(role='navigation')
          .navbar-header
            a.navbar-brand(href='http://www.loansolutions.ph/')
              img(src='assets/images/loansolutions-logo-v3.png', alt='LoanSolutions PH')
          #navbar.collapse.navbar-collapse
            .navbar-text.navbar-right
              .fb-like(data-href='https://www.facebook.com/LoanSolutionsPH', data-layout='standard', data-action='like', data-show-faces='false', data-share='false')
      .row
        .headline
          h1 One Loan Application, Multiple Lenders in Minutes
          h2.tagline Apply for a loan here!
    .container
      .row
        .col-md-6.col-sm-12
          ul.media-list
            li.thumbnail.media
              a(href='http://www.loansolutions.ph/personal-loan-form')
                img.pull-left.img-responsive(src='assets/images/personal-loan-icon.png', style='width:110px;height:110px')
                .media-body
                  h3.media-heading Personal Loan
                  p
                    | For employees, OFWs, doctors, students, beneficiaries, to be used any way you like. Also for those who want to start their own business
                  a.btn.btn-danger.btn-sm(href='http://www.loansolutions.ph/personal-loan-form')
                    | Apply Now &nbsp;
                    i.fa.fa-angle-double-right
            li.thumbnail.media
              a(href='http://www.loansolutions.ph/vehicle-loan-form')
                img.pull-left.img-responsive(src='assets/images/vehicle-loan-icon.png', style='width:110px;height:110px')
                .media-body
                  h3.media-heading Vehicle Loan
                  p
                    | For those who want to buy new and second-hand cars, and new motorcycles. Also for those who want to loan with a car as collateral
                  a.btn.btn-danger.btn-sm(href='http://www.loansolutions.ph/vehicle-loan-form')
                    | Apply Now &nbsp;
                    i.fa.fa-angle-double-right
        .col-md-6.col-sm-12
          ul.media-list
            li.thumbnail.media
              a(href='http://www.loansolutions.ph/home-loan-form')
                img.pull-left.img-responsive(src='assets/images/house-loan-icon.png', style='width:110px;height:110px')
                .media-body
                  h3.media-heading Home Loan
                  p
                    | For those who want to buy a new house and lot or a new condo unit. Also for those who want to loan with real estate property as collateral
                  a.btn.btn-danger.btn-sm(href='http://www.loansolutions.ph/home-loan-form')
                    | Apply Now &nbsp;
                    i.fa.fa-angle-double-right
            li.thumbnail.media
              a(href='http://www.loansolutions.ph/business-loan-form')
                img.pull-left.img-responsive(src='assets/images/business-loan-icon.png', style='width:110px;height:110px')
                .media-body
                  h3.media-heading Business Loan
                  p
                    | For those who need financing for their business for capital or operational expenses (such as to buy new equipment)
                  a.btn.btn-danger.btn-sm(href='http://www.loansolutions.ph/business-loan-form')
                    | Apply Now &nbsp;
                    i.fa.fa-angle-double-right
  section.nospace.notify.notify-credit
    .container-fluid
      .row: .col-md-12
          p.text-center
            | &nbsp;Apply for a Credit Card that Suits Your Lifestyle &nbsp;
            a.btn.btn-danger.btn-sm(href="http://www.loansolutions.ph/credit-card", target="_blank") Learn More &nbsp;
              i.fa.fa-angle-double-right

  section#partners
    .container-fluid
      .row
        .col-md-12
          .partners-roll
  section#testimonials
    .container.narrow
      .row
        h2.title what borrowers say about loansolutions
        .col-md-6
          img.img-responsive(src='assets/images/tst-img1.jpg', alt='', style='width:100%')
          blockquote
            p
              | "Ang laking tulong ng LoanSolutions sa pag-apply ng loan para sa sarili naming bahay! Pagod na kasi kaming mag-rent, taun-taon nagtataas ng renta tapos hindi naman magiging sa 'yo pagdating ng araw.
            p
              | Dahil sa LoanSolutions, nakahanap kami ng lending company na nag-pautang sa amin ng downpayment para sa house and lot. Ngayon, may sarili na kaming bahay! Thank you LoanSolutions!"
            footer Marjorie Venturoza, Calamba City
        .col-md-6
          img.img-responsive(src='assets/images/tst-img2.jpg', alt='', style='width:100%')
  section#faq
    .container.narrow
      .row
        h2.title Frequently Asked Questions
        .col-md-12
          dl
            dt What is LoanSolutions.ph?
            dd
              | LoanSolutions is a service where you can apply for different types of loans online.
              br
              strong We are not a lending company;
              |  instead we serve as a bridge between you and financing companies. This gives you the power to apply to many financing institutions with just one application form, at the comfort of your own home. You won't need to line up to loan anymore!
            dt How does LoanSolutions.ph work?
            dd
              | Once you choose the type of loan you want to apply for, you will fill out our online application form. You will sign up with your Facebook account at the end of your applicaton. We need this to confirm that you are a real loan applicant (and not a troll!). Don't worry, we will never post on your wall as we strictly follow Privacy Laws.
            dd
              | As soon as you complete your form, we endorse your loan application to our authorised partner banks and lenders. They will qualify you and give you a call if you pass their requirements. This empowers you to choose the best offer from our partners.

index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>Get Money Fast | Personal, Car, Cash, Seaman, OFW Loans and more</title><meta content="SSS Salary loan, personal loan, car loan, financial management, loan, cash loan, OFW loan" name="keywords"><meta content="Get the best offer from up to 5 Lenders for Mortgage, Seaman, OFW, Car, Salary, Personal, Business, Cash loans. Lending in Manila, Cebu... all the Philippines." name="description"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta content="index, follow" name="robots"><meta content="1 days" name="revisit-after"><meta content="2015 Copyright www.loansolutions.ph" name="copyright"><meta content="English" name="language"><meta content="General" name="Rating"><meta content="never" name="expires"><meta content="Author:loansolutions.ph" name="author"><meta content="Email: info@loansolutions.ph " name="email"><meta content="global" name="distribution"><meta name="geo.region" content="PH"><link rel="shortcut icon" href="assets/images/favicon.png"><link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"><link rel="stylesheet" href="assets/drunken/css/font-awesome.min.css"><link rel="stylesheet" href="assets/drunken/css/drunken-parrot.css"><link rel="stylesheet" href="assets/css/style.css"><script type="text/javascript">var _vwo_code=(function(){var b=10460,a=2000,g=2500,h=false,c=false,e=document;return{use_existing_jquery:function(){return h},library_tolerance:function(){return g},finish:function(){if(!c){c=true;var d=e.getElementById("_vis_opt_path_hides");if(d){d.parentNode.removeChild(d)}}},finished:function(){return c},load:function(f){var d=e.createElement("script");d.src=f;d.type="text/javascript";d.innerText;d.onerror=function(){_vwo_code.finish()};e.getElementsByTagName("head")[0].appendChild(d)},init:function(){settings_timer=setTimeout("_vwo_code.finish()",a);this.load("//dev.visualwebsiteoptimizer.com/j.php?a="+b+"&u="+encodeURIComponent(e.URL)+"&r="+Math.random());var f=e.createElement("style"),d="body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}",i=e.getElementsByTagName("head")[0];f.setAttribute("id","_vis_opt_path_hides");f.setAttribute("type","text/css");if(f.styleSheet){f.styleSheet.cssText=d}else{f.appendChild(e.createTextNode(d))}i.appendChild(f);return settings_timer}}}());_vwo_settings_timer=_vwo_code.init();</script></head><body><div id="fb-root"><script>(function(e,a,f){var c,b=e.getElementsByTagName(a)[0];if(e.getElementById(f)){return}c=e.createElement(a);c.id=f;c.src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";b.parentNode.insertBefore(c,b)}(document,"script","facebook-jssdk"));</script></div><a name="apply-loan"></a><div class="hero jumbotron"><div class="container-fluid"><div class="row"><nav role="navigation" class="navbar"><div class="navbar-header"><a href="http://www.loansolutions.ph/" class="navbar-brand"><img src="assets/images/loansolutions-logo-v3.png" alt="LoanSolutions PH"></a></div><div id="navbar" class="collapse navbar-collapse"><div class="navbar-text navbar-right"><div data-href="https://www.facebook.com/LoanSolutionsPH" data-layout="standard" data-action="like" data-show-faces="false" data-share="false" class="fb-like"></div></div></div></nav></div><div class="row"><div class="headline"><h1>One Loan Application, Multiple Lenders in Minutes</h1><h2 class="tagline">Apply for a loan here!</h2></div></div></div><div class="container"><div class="row"><div class="col-md-6 col-sm-12"><ul class="media-list"><li class="thumbnail media"><a href="http://www.loansolutions.ph/personal-loan-form"><img src="assets/images/personal-loan-icon.png" style="width:110px;height:110px" class="pull-left img-responsive"><div class="media-body"><h3 class="media-heading">Personal Loan</h3><p>For employees, OFWs, doctors, students, beneficiaries, to be used any way you like. Also for those who want to start their own business</p><a href="http://www.loansolutions.ph/personal-loan-form" class="btn btn-danger btn-sm">Apply Now &nbsp;<i class="fa fa-angle-double-right"></i></a></div></a></li><li class="thumbnail media"><a href="http://www.loansolutions.ph/vehicle-loan-form"><img src="assets/images/vehicle-loan-icon.png" style="width:110px;height:110px" class="pull-left img-responsive"><div class="media-body"><h3 class="media-heading">Vehicle Loan</h3><p>For those who want to buy new and second-hand cars, and new motorcycles. Also for those who want to loan with a car as collateral</p><a href="http://www.loansolutions.ph/vehicle-loan-form" class="btn btn-danger btn-sm">Apply Now &nbsp;<i class="fa fa-angle-double-right"></i></a></div></a></li></ul></div><div class="col-md-6 col-sm-12"><ul class="media-list"><li class="thumbnail media"><a href="http://www.loansolutions.ph/home-loan-form"><img src="assets/images/house-loan-icon.png" style="width:110px;height:110px" class="pull-left img-responsive"><div class="media-body"><h3 class="media-heading">Home Loan</h3><p>For those who want to buy a new house and lot or a new condo unit. Also for those who want to loan with real estate property as collateral</p><a href="http://www.loansolutions.ph/home-loan-form" class="btn btn-danger btn-sm">Apply Now &nbsp;<i class="fa fa-angle-double-right"></i></a></div></a></li><li class="thumbnail media"><a href="http://www.loansolutions.ph/business-loan-form"><img src="assets/images/business-loan-icon.png" style="width:110px;height:110px" class="pull-left img-responsive"><div class="media-body"><h3 class="media-heading">Business Loan</h3><p>For those who need financing for their business for capital or operational expenses (such as to buy new equipment)</p><a href="http://www.loansolutions.ph/business-loan-form" class="btn btn-danger btn-sm">Apply Now &nbsp;<i class="fa fa-angle-double-right"></i></a></div></a></li></ul></div></div></div></div><section class="nospace notify notify-credit"><div class="container-fluid"><div class="row"><div class="col-md-12"><p class="text-center">&nbsp;Apply for a Credit Card that Suits Your Lifestyle &nbsp;<a href="http://www.loansolutions.ph/credit-card" target="_blank" class="btn btn-danger btn-sm">Learn More &nbsp;<i class="fa fa-angle-double-right"></i></a></p></div></div></div></section><section id="partners"><div class="container-fluid"><div class="row"><div class="col-md-12"><div class="partners-roll"></div></div></div></div></section><section id="testimonials"><div class="container narrow"><div class="row"><h2 class="title">what borrowers say about loansolutions</h2><div class="col-md-6"><img src="assets/images/tst-img1.jpg" alt="" style="width:100%" class="img-responsive"><blockquote><p>"Ang laking tulong ng LoanSolutions sa pag-apply ng loan para sa sarili naming bahay! Pagod na kasi kaming mag-rent, taun-taon nagtataas ng renta tapos hindi naman magiging sa 'yo pagdating ng araw.</p><p>Dahil sa LoanSolutions, nakahanap kami ng lending company na nag-pautang sa amin ng downpayment para sa house and lot. Ngayon, may sarili na kaming bahay! Thank you LoanSolutions!"</p><footer>Marjorie Venturoza, Calamba City</footer></blockquote></div><div class="col-md-6"><img src="assets/images/tst-img2.jpg" alt="" style="width:100%" class="img-responsive"></div></div></div></section><section id="faq"><div class="container narrow"><div class="row"><h2 class="title">Frequently Asked Questions</h2><div class="col-md-12"><dl><dt>What is LoanSolutions.ph?</dt><dd>LoanSolutions is a service where you can apply for different types of loans online.<br><strong>We are not a lending company;</strong> instead we serve as a bridge between you and financing companies. This gives you the power to apply to many financing institutions with just one application form, at the comfort of your own home. You won't need to line up to loan anymore!</dd><dt>How does LoanSolutions.ph work?</dt><dd>Once you choose the type of loan you want to apply for, you will fill out our online application form. You will sign up with your Facebook account at the end of your applicaton. We need this to confirm that you are a real loan applicant (and not a troll!). Don't worry, we will never post on your wall as we strictly follow Privacy Laws.</dd><dd>As soon as you complete your form, we endorse your loan application to our authorised partner banks and lenders. They will qualify you and give you a call if you pass their requirements. This empowers you to choose the best offer from our partners.</dd></dl></div></div></div></section><footer><div class="container narrow"><div class="row"><div class="col-md-3"><a href="http://www.loansolutions.ph/v2"><img src="assets/images/loansolutions-logo-alt.png" alt="" class="img-responsive"></a></div><div class="col-md-4"><address><h5>HEAD OFFICE</h5>8th Flr, Crown 7 Building, Juan Luna Ave.,<br>Mabolo Cebu City, 6000<br>(+6332) 512-4163 / (+6332) 266-6070</address></div><div class="col-md-5"><address><h5>MANILA OFFICE</h5>24th Floor Pacific Star Bldg., Sen Gil Puyat cor Makati Ave.,<br>Makati City, 1227<br>(+632) 491-7337</address></div></div><div class="footer-thin"><div class="row"><div class="col-md-8"><ul class="footer-links list-unstlyed list-inline"><li><a href="http://www.loansolutions.ph/"> Home</a></li><li><a href="http://www.loansolutions.ph/about"> About Us</a></li><li><a href="http://www.loansolutions.ph/faq"> Faq</a></li><li><a href="http://www.loansolutions.ph/contact">Contact Us</a></li><li><a href="http://www.loansolutions.ph/terms-and-conditions"> Terms and Conditions</a></li><li><a href="http://www.loansolutions.ph/privacy-policy"> Privacy Policy</a></li></ul></div><div class="col-md-4"><a href="http://www.loansolutions.ph/credit-card-form" class="btn btn-default btn-block">Apply for a Credit Card &nbsp;<i class="fa fa-angle-double-right"></i></a></div></div></div></div></footer><script type="application/javascript" src="assets/js/jquery.min.js"></script><script type="application/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script><script type="application/javascript" src="assets/js/script.js"></script><script type="text/javascript">(function () {  var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript';  script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: '204ec076-901f-4f73-befe-e3153a2c356b', f: true }); done = true; } };  })();</script><script type="text/javascript">var options = {
  offset: '#showHere',
  classes: {
    clone:   'banner--clone',
    stick:   'banner--stick',
    unstick: 'banner--unstick'
}
};
var banner = new Headhesive('.banner', options);
</script><script type="text/javascript">var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-43021231-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script></body></html>
