app/pawnhero.jade
extends _layout-partners
block stylehead
  link(rel="stylesheet", href="assets/css/pawnhero.css")
block content
  .jumbotron.pawnhero
    .container-fluid
      .row
        nav.navbar(role='navigation')
          .navbar-header
            img(src='assets/images/loansolutions-logo-v3.png', alt='LoanSolutions PH')
            img(src='assets/images/pawnhero/pawnhero-logo.png', alt='PawnHero', style="margin-left: 30px;")
          #navbar.collapse.navbar-collapse
            .navbar-text.navbar-right
              .fb-like(data-href='https://www.facebook.com/LoanSolutionsPH', data-layout='standard', data-action='like', data-show-faces='false', data-share='false', data-colorscheme='dark')
    .container-fluid
      .row
        .headline
          img(src="assets/images/pawnhero/great-news.png", alt="")
          h1 PawnHero is interested in lending to you
          a.btn.btn-danger.btn-lg.btn-embossed(href="http://pawnhero.ph/pawn") Get Cash &nbsp;
            i.fa.fa-angle-double-right

  section#faq
    .container
      .row
        .headline
          h2.title How PawnHero Works?
          p.lead It's hassle-free, private, and convenient to use &nbsp;
            a(href="http://pawnhero.ph/", target="_blank") PawnHero.ph
        .col-md-4
          .tile.thumb-info
            img(src='assets/images/pawnhero/step-1.png')
            h3 Post
            p Describe your item(s) and take a picture. Get a
              strong fair estimate &nbsp;
              | in minutes! Accept to schedule a free pick-up.
        .col-md-4
          .tile.thumb-info
            img(src='assets/images/pawnhero/step-2.png')
            h3 GET CASH
            p We'll deposit your
              strong cash &nbsp;
              | the
              strong same day &nbsp;
              | we receive &amp; assess your item(s).
        .col-md-4
          .tile.thumb-info
            img(src='assets/images/pawnhero/step-3.png')
            h3 Pay Loan
            p When you repay your loan, we'd ship back your item(s),
              strong fully insured &amp; for free!
      .row.text-center
        img.img-center(src="assets/images/pawnhero/partners.jpg", alt="")

pawnhero.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>Get Money Fast | Personal, Car, Cash, Seaman, OFW Loans and more</title><meta content="SSS Salary loan, personal loan, car loan, financial management, loan, cash loan, OFW loan" name="keywords"><meta content="Get the best offer from up to 5 Lenders for Mortgage, Seaman, OFW, Car, Salary, Personal, Business, Cash loans. Lending in Manila, Cebu... all the Philippines." name="description"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta content="index, follow" name="robots"><meta content="1 days" name="revisit-after"><meta content="2015 Copyright www.loansolutions.ph" name="copyright"><meta content="English" name="language"><meta content="General" name="Rating"><meta content="never" name="expires"><meta content="Author:loansolutions.ph" name="author"><meta content="Email: info@loansolutions.ph " name="email"><meta content="global" name="distribution"><meta name="geo.region" content="PH"><link rel="shortcut icon" href="assets/images/favicon.png"><link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"><link rel="stylesheet" href="assets/drunken/css/font-awesome.min.css"><link rel="stylesheet" href="assets/drunken/css/drunken-parrot.css"><link rel="stylesheet" href="assets/css/style.css"><link rel="stylesheet" href="assets/css/pawnhero.css"><script type="text/javascript">var _vwo_code=(function(){var b=10460,a=2000,g=2500,h=false,c=false,e=document;return{use_existing_jquery:function(){return h},library_tolerance:function(){return g},finish:function(){if(!c){c=true;var d=e.getElementById("_vis_opt_path_hides");if(d){d.parentNode.removeChild(d)}}},finished:function(){return c},load:function(f){var d=e.createElement("script");d.src=f;d.type="text/javascript";d.innerText;d.onerror=function(){_vwo_code.finish()};e.getElementsByTagName("head")[0].appendChild(d)},init:function(){settings_timer=setTimeout("_vwo_code.finish()",a);this.load("//dev.visualwebsiteoptimizer.com/j.php?a="+b+"&u="+encodeURIComponent(e.URL)+"&r="+Math.random());var f=e.createElement("style"),d="body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}",i=e.getElementsByTagName("head")[0];f.setAttribute("id","_vis_opt_path_hides");f.setAttribute("type","text/css");if(f.styleSheet){f.styleSheet.cssText=d}else{f.appendChild(e.createTextNode(d))}i.appendChild(f);return settings_timer}}}());_vwo_settings_timer=_vwo_code.init();</script></head><body><div id="fb-root"><script>(function(e,a,f){var c,b=e.getElementsByTagName(a)[0];if(e.getElementById(f)){return}c=e.createElement(a);c.id=f;c.src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";b.parentNode.insertBefore(c,b)}(document,"script","facebook-jssdk"));</script></div><div class="jumbotron pawnhero"><div class="container-fluid"><div class="row"><nav role="navigation" class="navbar"><div class="navbar-header"><img src="assets/images/loansolutions-logo-v3.png" alt="LoanSolutions PH"><img src="assets/images/pawnhero/pawnhero-logo.png" alt="PawnHero" style="margin-left: 30px;"></div><div id="navbar" class="collapse navbar-collapse"><div class="navbar-text navbar-right"><div data-href="https://www.facebook.com/LoanSolutionsPH" data-layout="standard" data-action="like" data-show-faces="false" data-share="false" data-colorscheme="dark" class="fb-like"></div></div></div></nav></div></div><div class="container-fluid"><div class="row"><div class="headline"><img src="assets/images/pawnhero/great-news.png" alt=""><h1>PawnHero is interested in lending to you</h1><a href="http://pawnhero.ph/pawn" class="btn btn-danger btn-lg btn-embossed">Get Cash &nbsp;<i class="fa fa-angle-double-right"></i></a></div></div></div></div><section id="faq"><div class="container"><div class="row"><div class="headline"><h2 class="title">How PawnHero Works?</h2><p class="lead">It's hassle-free, private, and convenient to use &nbsp;<a href="http://pawnhero.ph/" target="_blank">PawnHero.ph</a></p></div><div class="col-md-4"><div class="tile thumb-info"><img src="assets/images/pawnhero/step-1.png"><h3>Post</h3><p>Describe your item(s) and take a picture. Get a<strong>fair estimate &nbsp;</strong>in minutes! Accept to schedule a free pick-up.</p></div></div><div class="col-md-4"><div class="tile thumb-info"><img src="assets/images/pawnhero/step-2.png"><h3>GET CASH</h3><p>We'll deposit your<strong>cash &nbsp;</strong>the<strong>same day &nbsp;</strong>we receive &amp; assess your item(s).</p></div></div><div class="col-md-4"><div class="tile thumb-info"><img src="assets/images/pawnhero/step-3.png"><h3>Pay Loan</h3><p>When you repay your loan, we'd ship back your item(s),<strong>fully insured &amp; for free!</strong></p></div></div></div><div class="row text-center"><img src="assets/images/pawnhero/partners.jpg" alt="" class="img-center"></div></div></section><script type="text/javascript">(function () {  var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript';  script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: '204ec076-901f-4f73-befe-e3153a2c356b', f: true }); done = true; } };  })();</script><script type="text/javascript">var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-43021231-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script></body></html>
